*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif; ;
}

a,a:hover{
    text-decoration: none;
}

/* global css-start */

.container{
    width: 1140px;
    margin: 0px auto;

}

.row{
    width: 100%;
    float: left;

}

.col-md-12{
    width: 100%;
    float: left;

}

.col-md-6{
    width: 50%;
    float: left;
}

.col-md-4{
    width: 33.33%;
    float: left;
}

/* global css ens */


/* header section strat */


.header-section{
    background: #f6f9f9;
    width: 100%;
    float: left;
}

.logo{
    padding: 15px 0px;
}

.header-section .logo .logo-img{
    height: 25px;
    width: 115px;
}

/* hearder section end */

/* banner part start */


.banner-section{
    width: 100%;
    height: 500px;
    float: left;
    background: url(../images/Banner.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.banner-section .banner-inner{
    text-align: center;
    width: 100%;
    float: left;
    padding: 65px 0px;
}

.banner-section .banner-inner h1{
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 70px;
    padding-bottom: 10px;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 70px;
}

.banner-section .banner-inner .divider{
    width: 40%;
    height: 2px;
    background-color: #15a4fa;
    margin: 15px auto;
}


.banner-section .banner-inner p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 25px auto;
}

.banner-section .banner-inner .btn{
    border: 1px solid #15a4fa;
    padding: 7px 22px;
    background: transparent;
    display: inline-block;
    margin: 13px 0px;
    color: #ffffff;
    border-radius: 5px;
    transform: all linear 1s;
    

}
.banner-section .banner-inner .btn:hover{
    background: #15a4fa;

}
.banner-section .banner-inner .icon{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 415px;
    left: 670px;
}


/* banner part end */

/* simple-section start */

.simple-section{
    width: 100%;
    float: left;
    height: 200px;
    background: #f6f9f9;
    padding-bottom: 60px;
    
    
}

.simple-section .simple {
    text-align: center;
    padding: 40px 0px;

}

.simple-section .simple h1{
    color: #2d3950;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.simple-section .simple p{
    font-size: 16px;
    text-align: center;
    color: #a7a8a8;
    font-weight: 500;
    padding-bottom: 60px;

}

/* simple-section end */

/* featute-section start */

.feature-section{
    width: 100%;
    float: left;
    padding: 80px 0px;
}

.feature-section .inner-feature{
    width: 100%;
    float: left;
    text-align: center;
}

.feature-section .inner-feature .icon-image{
   
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    
}

.feature-section .inner-feature h4{
    font-size: 20spx;
    font-weight: 700;
    line-height: 32px;
    color: #2d3950;
    margin: 0px 0px 10px;
}

.feature-section .inner-feature p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a7a8a8;
}

 /* portfolio-section start  */

       .portfolio-section{
           width: 100%;
           float: left;
           padding: 80px 0px;
           background: #f6f9f9;

       } 
       .portfolio-section .tittle{
           width: 100%;
           float: left;
           text-align: center;
           padding-bottom: 50px;
       }

       .portfolio-section .tittle h1{
        color: #2d3950;
        font-size: 25px;
        font-weight: 700;
        text-transform: lowercase;
        word-spacing: 3px;
        letter-spacing: 3px;
       }

        .portfolio-section .tittle p{
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            color: #a7a8a8;

        }


        .portfolio-section .inner-portfolio{
            width: 100%;
            float: left;
            position: relative;
         

        }

        .portfolio-section .inner-portfolio .port-hover{
            width: 95%;
            height: 98%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(21, 164, 250, 0.8);
            display: none;
        }


        .portfolio-section .inner-portfolio .port-hover .inner-icons{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        .portfolio-section .inner-portfolio:hover .port-hover{
            display: block;
        }
        /* portfolio-section end */


        /* stay-section start */

        .stay-section{
            width: 100%;
            height: 450px;
            float: left;
            padding: 80px 0px;
            background: url("../images/staybg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            margin-bottom: 80px;
            position: relative;
        
        }

        .stay-section .title{
            width: 100%;
            float: left;
            text-align: center;
            padding-bottom: 50px
        }

        .stay-section .title h1{
            color: #a7a8a8;
            font-size: 25px;
            font-weight: 700;
            text-transform: lowercase;
            word-spacing: 2px;
            letter-spacing: 2px;            
        }


        .stay-section .title p{
            color: #a7a8a8;
            font-size: 10px;
        }


        .stay-section .main-form{
            width: 40%;
            margin: 0 auto;
        }

        .stay-section .main-form .form-grp{
            width: 100%;
            float: left;
            margin: 5px 0px;
        }


        .stay-section .main-form .form-grp .form-control{
            width: 100%;
            background: transparent;
            padding: 12px;
            border: 1px solid #999999;
            border-radius: 5px;
            color: #999999;
            font-size: 14px;
        }

        .stay-section .main-form .form-grp span{
            color: #a7a8a8;
            margin-left: 5px;
            font-size: 12px;
        }

       

       .stay-section .btn-primary{
        border: 1px solid #15a4fa;
        padding: 7px 40px;
        background: transparent;
        display: inline-block;
        margin: 3px 0px;
        color: #ffffff;
        border-radius: 3px;
        transform: all linear 1s;
        position: absolute;
        bottom: 70px;
        right: 415px;

       }

       .stay-section .btn-primary:hover{
        background: #15a4fa;

       }


        /* stay-section end*/


        /* footer-part start */

        .footer-part{
            width: 100%;
            float: left;
            margin-top: -60px;
          
        }

        .footer-part .social-icon{
            margin-left: 325px;
        }

        .footer-part .social-icon ul li{
            list-style: none;
            display: inline-block;
            padding: 10px;
            background-color: #15a4fa;
            border-radius: 2px;
            text-align: center;
        }


        .social-icon ul li a{
            color: white;
            text-align: center;
         }


        .footer-part .footer-text{
            color: #a7a8a8;
            font-size: 12px;
           margin-left: 50px;
            margin-top: 7px;
        }
            

        

       
       






